* {
  box-sizing: border-box;
}

.info {
  font-size: 15px;
  line-height: 125%;
  margin-bottom: 10px;
}

body {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
}

.left-side {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 60%;
}

#resume,
#contact {
  height: 15px;
  width: 50px;
  font-size: 14px;
}

.newspaper,
.contact {
  width: 20px;
  height: 20px;
}

p {
  margin-bottom: 80px;
  font-size: 12px;
}

article {
  height: 33.3333%;
  width: 33.3333%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
  transition: transform .8s ease-in-out;
}

article:hover {
  transform: rotate(360deg);
}

h6 {
  font-size: 25px;
  color: #FFFFFF;
  margin-bottom: 10px;
  margin-top: 40px;

}

.header-box {
  background-color: #86BEC1;
  width: 66.6666%;
  text-align: left;
  display: inline-block;
  padding-left: 25px;
}

#resume,
#contact {
  width: 120px;
  height: 50px;
  border: 2px solid #FFFFFF;
  background-color: inherit;
  color: #FFFFFF;
  display: inline-block;
  margin-top: 15px;

}

.stats {
  background-color: #142737;
  background-image: url('assets/bar-chart.svg');
  background-position: center;
  background-size: 20%;
  background-repeat: no-repeat;
}

.teams {
  background-color: #335577;
  background-image: url('assets/cap.svg');
  background-position: center;
  background-size: 20%;
  background-repeat: no-repeat;
}

.awards {
  background-color: #D4E7E5;
  background-image: url('assets/trophy.svg');
  background-position: center;
  background-size: 20%;
  background-repeat: no-repeat;
 }

.family {
  background-color: #6A7A77;
  background-image: url('assets/house.svg');
  background-position: center;
  background-size: 20%;
  background-repeat: no-repeat;
}

.bio {
  background-color: #142737;
  background-image: url('assets/open-book.svg');
  background-position: center;
  background-size: 20%;
  background-repeat: no-repeat;
}

.education {
  background-color: #335577;
  background-image: url('assets/baseball.svg');
  background-position: center;
  background-size: 20%;
  background-repeat: no-repeat;
}

.swing {
  background-color: #86BEC1;
  background-image: url('assets/ball-bat.svg');
  background-position: center;
  background-size: 20%;
  background-repeat: no-repeat;
}

aside {
  background-image: url(assets/griffey.jpeg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 40%;
}

#page-location {
  float: right;
}

.circles {
  width: 20px;
}

#arrows {
  display: flex;
  align-items: center;
  height: 20px;
  justify-content: space-between;
  width: 100%;
  margin-top: 50vh;
}

.left-arrow,
.right-arrow {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  width: 20px;
}

/*MEDIA QUERIES 1ST BREAK*/

@media (max-width: 1024px) {
  main {
    display: block;
  }

  .left-side {
    width: 50%;
  }

  .right-side {
    width: 50%;
  }

  .header-box {
    width: 66.6666%;
  }

  article {
    width: 33.3333%;
  }
}

/*MEDIA QUERIES 2ND BREAK*/

@media (max-width: 866px) {
  body {
    display: flex;
    flex-direction: column-reverse;
  }

  aside {
  background-image: url(assets/griffey24.jpg);
  height: 50vh;
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  #resume.
  #contact {
    display: block;
  }

  #arrows {
    margin-top: 25vh;
  }
}

/*MEDIA QUERIES 3RD BREAK*/

@media (max-width: 432px) {
  #resume,
  #contact {
    width: 90px;
  }

 .info {
   font-size: 12px;
 }

 h6 {
   font-size: 18px;
 }

 .header-box {
   text-align: center;
   margin: auto;
 }
}

/*MEDIA QUERIES 4TH BREAK*/

@media (max-width: 370px) {
  .header-box {
    width: 100%;
    margin: 0;
  }

  article {
    width: 50%;
  }

  p {
    padding-bottom: 45px;
  }

  .info {
    padding-bottom: 0px;
  }

  #arrows {
    margin-top: 25vh;
  }
}
